# Python cache
__pycache__/
*.pyc
*.pyo
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# PyInstaller / Build outputs (Folder hasil build & file temporary)
build/
dist/
*.manifest
*.spec.bak

# Local configuration & App Cache
config_bpsound.json
converted_audio_cache/

# IDE / Code Editor
.vscode/
.idea/

# Logs
*.log